# ======================================================
# === ЗАГАЛЬНІ НАЛАШТУВАННЯ ===
# ======================================================
server:
  port: 8084

spring:
  application:
    name: notification-service
  profiles:
    active: local # ❗️ Профіль за замовчуванням

management:
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka/}

---
# ======================================================
# === ПРОФІЛЬ "local" (Kafka + Zipkin) ===
# ======================================================
spring:
  config:
    activate:
      on-profile: local

  # Налаштування Kafka (тільки для local)
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
    consumer:
      group-id: "notification-group"
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

aws:
  xray:
    enabled: false

---
# ======================================================
# === ПРОФІЛЬ "aws" (SQS + X-Ray) ===
# ======================================================
spring:
  config:
    activate:
      on-profile: aws

# (Налаштування SQS тут не потрібні, @SqsListener підхопить їх)

aws:
  xray:
    enabled: true

management:
  tracing:
    enabled: false