server:
  port: 8761 # Стандартний порт для Eureka

spring:
  application:
    name: service-discovery

management:
  tracing:
    sampling:
      # ❗️ 1.0 = відправляти 100% трасувань.
      # (Для production тут ставлять 0.1, тобто 10%)
      probability: 1.0

eureka:
  client:
    # Це сервер, він не реєструється сам у собі
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 0