# ======================================================
# === ЗАГАЛЬНІ НАЛАШТУВАННЯ ===
# ======================================================
server:
  port: 8085

spring:
  application:
    name: cart-service
  profiles:
    active: local # ❗️ Профіль за замовчуванням

  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/cart_db}

management:
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

---
# ======================================================
# === ПРОФІЛЬ "local" (Zipkin) ===
# ======================================================
spring:
  config:
    activate:
      on-profile: local

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

aws:
  xray:
    enabled: false

---
# ======================================================
# === ПРОФІЛЬ "aws" (X-Ray) ===
# ======================================================
spring:
  config:
    activate:
      on-profile: aws

aws:
  xray:
    enabled: true

management:
  tracing:
    enabled: false