# ======================================================
# === ЗАГАЛЬНІ НАЛАШТУВАННЯ ===
# ======================================================
server:
  port: 8085

spring:
  application:
    name: cart-service
  profiles:
    active: local # ❗️ Профіль за замовчуванням

  data:
    mongodb:
      host: ${MONGO_HOST:localhost}
      port: ${MONGO_PORT:27017}
      database: ${MONGO_DB:cart_db}
      username: ${MONGO_USER:crafthub}
      password: ${MONGO_PASS:password}
      authentication-database: admin  # Важливо!

management:
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka/}

---
# ======================================================
# === ПРОФІЛЬ "local" (Zipkin) ===
# ======================================================
spring:
  config:
    activate:
      on-profile: local

  autoconfigure:
    exclude:
      - io.awspring.cloud.autoconfigure.core.AwsAutoConfiguration
      - io.awspring.cloud.autoconfigure.sqs.SqsAutoConfiguration
      - com.amazonaws.xray.spring.aop.XRayAutoConfiguration
      - io.awspring.cloud.autoconfigure.actuator.AwsActuatorAutoConfiguration

management:
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL:http://localhost:9411/api/v2/spans}

aws:
  xray:
    enabled: false

---
# ======================================================
# === ПРОФІЛЬ "aws" (X-Ray) ===
# ======================================================
spring:
  config:
    activate:
      on-profile: aws

  autoconfigure:
    exclude:
      - org.springframework.boot.actuate.autoconfigure.tracing.zipkin.ZipkinAutoConfiguration

aws:
  xray:
    enabled: true

management:
  tracing:
    enabled: false